/* [data-md-color-scheme="r4pi"] { */
:root {
  --md-primary-fg-color:        #ab1942;
  --md-primary-fg-color--light: #ab1942;
  --md-primary-fg-color--dark:  #ab1942;
}
.md-typeset {
  font-size: 1rem;
}
.md-nav {
  font-size: 1rem;
}
