/* [data-md-color-scheme="r4pi"] { */
:root {
  --md-primary-fg-color:        #ab1942;
  --md-primary-fg-color--light: #ab1942;
  --md-primary-fg-color--dark:  #ab1942;
}
.md-typeset {
  font-size: 0.9rem;
}
.md-typeset a {
  color: #ed254d;
}
.md-nav {
  font-size: 0.9rem;
}
.md-nav__item .md-nav__link--active {
  color: #ed254d
}
